<section class="banner bg-dark">
  <div class="container">
    <div class="row">
      <div class="banner__main col offset-md-1">
        <h1 class="h2 text-white fw-bold" data-aos="fade-up">台北當代藝術展</h1>
        <h2 class="h5 text-white fw-bold mb-4" data-aos="fade-up" data-aos-duration="1000">01 JUN - 31 OCT</h2>
        <div class="d-flex justify-content-between d-md-block" data-aos="fade-up" data-aos-duration="1200">
          <div class="btn btn-primary w-48 w-md-auto me-0 me-md-2">
            購買票券
          </div>
          <div class="btn btn-outline-white w-48 w-md-auto">
            詳細資訊
          </div>
        </div>
      </div>
    </div>
  </div>
</section>