<!DOCTYPE html>
<html lang="zh-tw">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <!-- AOS - 視差滾動 -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>

  <body>
    <header class="header border border-dark">
      <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
        <div class="container header__main position-relative">
          <h2 class="position-absolute top-50 start-50 translate-middle h4 m-0"><a href="./index.html" class="text-secondary">EXHIBINECTION</a></h2>
          <button class="navbar-toggler border-0 position-absolute top-50 end-0 translate-middle-y" type="button">
            <div class="position-relative">
              <span class="material-icons text-black" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">confirmation_number</span>
              <span class="cart__number position-absolute text-white bg-primary rounded-circle px-2">3</span>
            </div>
          </button>
          <div class="collapse navbar-collapse position-absolute top-50 end-0 translate-middle-y" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-dark hover-dark p-0 me-6" href="javascript:;">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark hover-dark p-0 me-6" href="javascript:;">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black p-0" href="javascript:;">
                  <div class="position-relative">
                    <span class="material-icons" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">confirmation_number</span>
                    <span class="cart__number position-absolute text-white bg-primary rounded-circle px-2">3</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- banner -->
    <div <% if(current !== 'index') { %> hidden <% } %> >
      <%- include('./banner.ejs') %>
    </div>
    <!-- nav選單 -->
    <div <% if(current !== 'index' 
            && current !== 'design'
            && current !== 'design-detail') { %> hidden <% } %> >
      <%- include('./nav-scroller.ejs') %>
    </div>

    <main class="main">
      <%- contents %>
    </main>
    <!-- 猜你也喜歡 -->
    <section class="others container">
      <h2 class="h2 fw-bold mb-2 mb-md-5" data-aos="fade-up">猜你也喜歡...</h2>
      <div class="row">
        <div class="col-lg-11 offset-lg-1">
          <!-- Swiper -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card card-img-median">
                  <img src="./assets/images/other-1.jpg" class="card-img-top" alt="展覽照">
                  <div class="card-body pt-2 pb-0 mb-5 mb-md-8">
                    <h5 class="card-title h5 mb-1 fw-bold">No.22 線上設計展</h5>
                    <p class="card-text h5 fw-normal">$350</p>
                    <a href="./design-detail.html" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card card-img-median">
                  <img src="./assets/images/other-2.jpg" class="card-img-top" alt="展覽照">
                  <div class="card-body pt-2 pb-0 mb-5 mb-md-8">
                    <h5 class="card-title h5 mb-1 fw-bold">No.22 線上設計展</h5>
                    <p class="card-text h5 fw-normal">$350</p>
                    <a href="./design-detail.html" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card card-img-median">
                  <img src="./assets/images/other-3.jpg" class="card-img-top" alt="展覽照">
                  <div class="card-body pt-2 pb-0 mb-5 mb-md-8">
                    <h5 class="card-title h5 mb-1 fw-bold">No.22 線上設計展</h5>
                    <p class="card-text h5 fw-normal">$350</p>
                    <a href="./design-detail.html" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card card-img-median">
                  <img src="./assets/images/art-1.jpg" class="card-img-top" alt="展覽照">
                  <div class="card-body pt-2 pb-0 mb-5 mb-md-8">
                    <h5 class="card-title h5 mb-1 fw-bold">No.22 線上設計展</h5>
                    <p class="card-text h5 fw-normal">$350</p>
                    <a href="./design-detail.html" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card card-img-median">
                  <img src="./assets/images/banner-1.jpg" class="card-img-top" alt="展覽照">
                  <div class="card-body pt-2 pb-0 mb-5 mb-md-8">
                    <h5 class="card-title h5 mb-1 fw-bold">No.22 線上設計展</h5>
                    <p class="card-text h5 fw-normal">$350</p>
                    <a href="./design-detail.html" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card card-img-median">
                  <img src="./assets/images/banner-2.jpg" class="card-img-top" alt="展覽照">
                  <div class="card-body pt-2 pb-0 mb-5 mb-md-8">
                    <h5 class="card-title h5 mb-1 fw-bold">No.22 線上設計展</h5>
                    <p class="card-text h5 fw-normal">$350</p>
                    <a href="./design-detail.html" class="stretched-link"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- 訂閱 -->
    <section class="subscription">
        <div class="container" data-aos="fade-up">
          <h2 class="h4 h2-md text-white mb-5 mb-md-3">想收到最新消息嗎？<br>快訂閱我們！</h2>
          <div class="row">
            <div class="col-sm-8 col-md-4">
              <div class="input-group mb-3">
                <input type="text" class="form-control py-3" placeholder="輸入您的電子信箱">
                <button class="btn btn-primary" type="button">訂閱</button>
              </div>
            </div>
          </div>
        </div>
    </section>
    <footer>
      <div class="container">
        <div class="copyright d-block d-md-flex justify-content-between align-items-center py-4 py-md-5">
          <div class="d-block d-md-flex align-items-center">
            <h2 class="h4 fw-normal mb-0 me-4">EXHIBINECTION</h2>
            <h3 class="h6 m-0">© 2020. All Rights Reserved.</h3>
          </div>
          <div class="d-none d-md-block">
            <a class="text-dark hover-dark me-5" href="javascript:;">Sign in</a>
            <a class="text-dark hover-dark" href="javascript:;">Sign up</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Offcanvas畫布 - Cart List  -->
    <div class="offcanvas offcanvas-end ps-4 ps-md-6 pe-2 pe-md-4" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header pt-5 pt-md-6 mb-3">
        <h5 id="offcanvasRightLabel" class="h2 fw-bold">Cart List</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body mb-5 pe-2 pe-md-4 scrollbar">
        <ul class="cart__list">
          <li class="cart__item">
            <div class="card mb-3">
              <button type="button" class="btn-close d-block mt-1 ms-1"></button>
              <div class="d-flex align-items-center mx-4 mx-md-6 mb-4 mb-md-5">
                <div class="flex-shrink-0">
                    <img src="./assets/images/exhibition-1.jpg" class="cart__img" alt="展覽照">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="card-body py-0 d-flex flex-column justify-content-between">
                    <div>
                      <h3 class="card-title h6 fw-bold text-black mb-2">2020 台味設計展</h3>
                      <h4 class="card-title h6 text-black mb-2">01 JUN — 31 OCT</h4>
                      <h5 class="h6 text-dark mb-3">全票</h5>
                    </div>
                    <h5 class="h5 fw-bold text-black mb-0">NT$350</h5>
                  </div>
                </div>
                <div class="flex-shrink-0">
                  <div class="d-flex flex-column-reverse flex-sm-row align-items-center text-black">
                    <span class="material-icons cursor-pointer">remove</span>
                    <span class="h5 fw-bold mb-0 mx-md-3 my-1 my-md-0">01</span>
                    <span class="material-icons cursor-pointer">add</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="cart__item">
            <div class="card mb-3">
              <button type="button" class="btn-close d-block mt-1 ms-1"></button>
              <div class="d-flex align-items-center mx-4 mx-md-6 mb-4 mb-md-5">
                <div class="flex-shrink-0">
                    <img src="./assets/images/exhibition-2.jpg" class="cart__img" alt="展覽照">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="card-body py-0 d-flex flex-column justify-content-between">
                    <div>
                      <h3 class="card-title h6 fw-bold text-black mb-2">2020 台味設計展</h3>
                      <h4 class="card-title h6 text-black mb-2">01 JUN — 31 OCT</h4>
                      <h5 class="h6 text-dark mb-3">全票</h5>
                    </div>
                    <h5 class="h5 fw-bold text-black mb-0">NT$350</h5>
                  </div>
                </div>
                <div class="flex-shrink-0">
                  <div class="d-flex flex-column-reverse flex-sm-row align-items-center text-black">
                    <span class="material-icons cursor-pointer">remove</span>
                    <span class="h5 fw-bold mb-0 mx-md-3 my-1 my-md-0">01</span>
                    <span class="material-icons cursor-pointer">add</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="cart__item">
            <div class="card mb-3">
              <button type="button" class="btn-close d-block mt-1 ms-1"></button>
              <div class="d-flex align-items-center mx-4 mx-md-6 mb-4 mb-md-5">
                <div class="flex-shrink-0">
                    <img src="./assets/images/exhibition-3.jpg" class="cart__img" alt="展覽照">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="card-body py-0 d-flex flex-column justify-content-between">
                    <div>
                      <h3 class="card-title h6 fw-bold text-black mb-2">2020 台味設計展</h3>
                      <h4 class="card-title h6 text-black mb-2">01 JUN — 31 OCT</h4>
                      <h5 class="h6 text-dark mb-3">全票</h5>
                    </div>
                    <h5 class="h5 fw-bold text-black mb-0">NT$350</h5>
                  </div>
                </div>
                <div class="flex-shrink-0">
                  <div class="d-flex flex-column-reverse flex-sm-row align-items-center text-black">
                    <span class="material-icons cursor-pointer">remove</span>
                    <span class="h5 fw-bold mb-0 mx-md-3 my-1 my-md-0">01</span>
                    <span class="material-icons cursor-pointer">add</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="cart__item">
            <div class="card mb-3">
              <button type="button" class="btn-close d-block mt-1 ms-1"></button>
              <div class="d-flex align-items-center mx-4 mx-md-6 mb-4 mb-md-5">
                <div class="flex-shrink-0">
                    <img src="./assets/images/art-1.jpg" class="cart__img" alt="展覽照">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="card-body py-0 d-flex flex-column justify-content-between">
                    <div>
                      <h3 class="card-title h6 fw-bold text-black mb-2">2020 台味設計展</h3>
                      <h4 class="card-title h6 text-black mb-2">01 JUN — 31 OCT</h4>
                      <h5 class="h6 text-dark mb-3">全票</h5>
                    </div>
                    <h5 class="h5 fw-bold text-black mb-0">NT$350</h5>
                  </div>
                </div>
                <div class="flex-shrink-0">
                  <div class="d-flex flex-column-reverse flex-sm-row align-items-center text-black">
                    <span class="material-icons cursor-pointer">remove</span>
                    <span class="h5 fw-bold mb-0 mx-md-3 my-1 my-md-0">01</span>
                    <span class="material-icons cursor-pointer">add</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="cart__item">
            <div class="card">
              <button type="button" class="btn-close d-block mt-1 ms-1"></button>
              <div class="d-flex align-items-center mx-4 mx-md-6 mb-4 mb-md-5">
                <div class="flex-shrink-0">
                    <img src="./assets/images/other-1.jpg" class="cart__img" alt="展覽照">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="card-body py-0 d-flex flex-column justify-content-between">
                    <div>
                      <h3 class="card-title h6 fw-bold text-black mb-2">2020 台味設計展</h3>
                      <h4 class="card-title h6 text-black mb-2">01 JUN — 31 OCT</h4>
                      <h5 class="h6 text-dark mb-3">全票</h5>
                    </div>
                    <h5 class="h5 fw-bold text-black mb-0">NT$350</h5>
                  </div>
                </div>
                <div class="flex-shrink-0">
                  <div class="d-flex flex-column-reverse flex-sm-row align-items-center text-black">
                    <span class="material-icons cursor-pointer">remove</span>
                    <span class="h5 fw-bold mb-0 mx-md-3 my-1 my-md-0">01</span>
                    <span class="material-icons cursor-pointer">add</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="offcanvas-footer me-2 me-md-4 mb-5 mb-md-6">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="h5 text-white m-0"><span class="me-5">小計</span>NT$1050</h4>
          <a href="./order-confirm.html" class="btn btn-light text-secondary">前往結帳</a>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>