<div class="nav-scroller">
  <nav class="container nav justify-content-md-center" aria-label="Secondary navigation">
    <a class="nav-link text-dark hover-dark <%- current == 'index'? 'active' : '' %>"" href="./index.html">音樂</a>
    <a class="nav-link text-dark hover-dark" href="javascript:;">戲劇</a>
    <a class="nav-link text-dark hover-dark <%- current == 'design'? 'active' : '' %>"" href="./design.html">設計</a>
    <a class="nav-link text-dark hover-dark" href="javascript:;">藝術</a>
    <a class="nav-link text-dark hover-dark" href="javascript:;">美食</a>
    <a class="nav-link text-dark hover-dark" href="javascript:;">旅遊</a>
    <a class="nav-link text-dark hover-dark" href="javascript:;">電影</a>
    <a class="nav-link text-dark hover-dark" href="javascript:;">親子</a>
    <a class="nav-link text-dark hover-dark" href="javascript:;">期間限定</a>
  </nav>
</div>